* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logo {
    height: 80px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
    margin-bottom: 50px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;  
    color: grey;  
    font-size: 20px;
}

.box-center {
    
    height: 500px;
    margin-bottom: 20px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    border-radius: 20px;
 
}

.herotext{
    width: 800px;
    padding-top: 300px;
    padding-left: 50px;
}

.herotext-big{
    color: white;
    font-size: 40px;
}

.herotext-little{
    color: white;
    font-size: 25px;
}

.up-text-big {
    color: black;
    font-size: 40px;
}

.up-text-little {
    color: grey;
    font-size: 20px;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.box-center {
    background-color: rgb(225, 214, 122);
    height: 500px;
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.up {
    background-color: rgb(171, 207, 231);
    height: 150px;
    margin-bottom: 20px;
}

.col-left, .col-right {
    background-color: rgb(171, 207, 231);
    float: left;
    width: 20%;
    min-height: 600px;
}

.col-middle {
    background-color: rgb(171, 207, 231);
    float: left;
    width: calc(60% - 40px);
    margin: auto 20px;
    min-height: 600px;
}

.container2 {
    background-color: rgb(4, 132, 255);
    padding-bottom: 20px;

}

footer {
    background-color: rgb(136, 1, 254);
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}