* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    padding-top: 10px;
}

p {
    color: #8A8A8A;
    font-size: large;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;  
    color: #8A8A8A;  
    font-size: 20px;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logo {
    height: 80px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
    margin-bottom: 50px;
}

.hero {
    height: 500px;
    margin-bottom: 20px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    border-radius: 20px;
    
}

.herotext {
    width: 800px;
    padding-top: 300px;
    padding-left: 50px;
}

.herotext-big {
    color: white;
    font-size: 40px;
}

.herotext-little {
    color: white;
    font-size: 25px;
}

.up-text-big {
    color: black;
    font-size: 40px;
}

.up-text-little {
    color: #8A8A8A;
    font-size: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.up { 
    height: 150px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.col-left, .col-right {  
    float: left;
    width: 20%;
    min-height: 600px;
}

.col-middle {
    float: left;
    width: calc(60% - 40px);
    margin: auto 20px;
    min-height: 600px;
}

.img-container-left {
    background-image: url("../img/img-1.jpg");
    border-radius: 15px;
    height: 200px;
    width: 250px;
}
.img-container-middle {
    background-image: url("../img/banner-2.jpg");
    border-radius: 15px;
    height: 200px;
    width: 720px;
    background-size: cover;
}
.img-container-right {
    background-image: url("../img/img-3.jpg");
    border-radius: 15px;
    height: 200px;
    width: 250px;
}

.container2 {
    padding-bottom: 20px;
}

footer {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #8A8A8A;
}